<%- include('header') -%> 

<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Et magnis dis parturient montes nascetur ridiculus mus mauris. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Sit amet dictum sit amet justo donec enim. Fames ac turpis egestas maecenas pharetra convallis posuere. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. Tortor vitae purus faucibus ornare. Dolor sit amet consectetur adipiscing elit ut aliquam. Purus in mollis nunc sed id semper risus in hendrerit. Lacinia at quis risus sed vulputate odio. Id faucibus nisl tincidunt eget nullam non. Ac orci phasellus egestas tellus rutrum tellus pellentesque. Lacus laoreet non curabitur gravida arcu ac.</p>

<%- include('footer') -%> 
